body {
  font-size: 25px;
  font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(1, 199, 146);
  line-height: 1.4;

  margin: 0;
}

.title {
  text-align: right;
  font-weight: 900;
  letter-spacing: 2px;
}

.justify {
  text-align: justify;
  font-style: italic;
}

p {
  text-indent: 20px;
}

ul {
  list-style-type: none;
}

.square {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;

  top: 50px;
  left: 10px;
}

.modal {
  position: relative;
}

.page {
  width: 600px;
  margin: 20px auto;
}

.header {
  padding: 20px;
  background-color: #eee;
}

.content {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333;
}

.main {
  width: 400px;
  background-color: #ccc;
}

.footer {
  background-color: #eee;
}
